.workspace {
    width: 100%;
    overflow-y: auto;
    padding: 10px 20px;
    position: relative;
}

.workspace-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0px;
    gap: 10px;
    align-items: flex-start;
}

.workspaceHeader {
    display: flex;
}

.workspaceHeader .form-control {
    max-width: 100%;
}

.OffCFrame {
    background-color: black;
}

@media screen and (max-width:600px) {
    .workspaceHeader{
        width: 100%;
    }
}

#addListButton {
    align-self: top;
    width: 22rem;
    background-color: transparent;
    border-color: var(--bs-green);
    border-width: 2px;
    color: black;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.workspaceHeader {
    margin: 10px;
    display: flex;
}

.workspaceHeader .form-control {
    max-width: 50%;
}
