.workspace {
    width: 100%;
    overflow-y: auto;
    padding: 10px 20px;
    position: relative;
}

.workspace-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0px;
    gap: 10px;
    align-items: flex-start;
}

.workspaceHeader {
    display: flex;
}

.workspaceHeader .form-control {
    max-width: 100%;
}

.OffCFrame {
    background-color: black;
}

@media screen and (max-width:600px) {
    .workspaceHeader{
        width: 100%;
    }
}

#addListButton {
    align-self: top;
    width: 22rem;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    background-color: rgb(78, 206, 78);
    border-width: 2px;
    border-color: rgb(48, 124, 48);
    transition-duration: 0.2s;
}

#addListButton:hover {
    background-color: rgb(48, 124, 48);
    color: white;
}

.workspaceHeader {
    margin: 10px;
    display: flex;
}

.workspaceHeader .form-control {
    max-width: 50%;
}

@media screen and (max-width: 630px) {
    .workspace-lists {
        justify-content: center;
    }
}
