#workspaceTitle {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

#workspaceTitle .card-title {
    margin-bottom: 0;
    line-height: 1.5;
}

#workspaceTitleButtons {
    display: flex;
    gap: 8px;
}

.title {
    padding: 4px 8px;
}

#listNameField, #addTaskField {
    margin-left: 0;
}

#addTaskField {
    margin-top: 8px;
}

.form-control {
    margin-right: 4px;
}

#titleField {
    font-size: 1.5rem;
    max-width: 50%;
}

.buttonsBelow {
    display: flex;
    width: auto;
}

