.main-container {
    padding: 12rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.credits-title {
    margin: 0 auto;
    text-align: center;
    width: 100%;

    font-size: 4rem;
    font-weight: bold;
    text-decoration: underline;
}

.credits-card {
    position: relative;
    background-color: #ffff;
    border-radius: 13px;
    padding: 15px 5px 15px 15px;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    box-shadow: 0 5px 15px 0 rgb(0, 0, 0, 0.25);
}

.credits-name {
    font-size: 25px;
}

.credits-container {
    position: relative;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 670px) {
    .main-container {
        padding: 12rem 2rem 12rem 0;
    }

    .credits-container {
        padding: 0 2rem;
    }
}
