.task-list {
    padding: 8px;
    border: 20px solid rgb(4, 221, 33);
    border-radius: 8px;
}
.center {
    margin: auto;
    margin-top: 10px;
}

buttonAdd {
    position: relative;
    left: -2.5px;
    background-color: rgb(78, 206, 78);
    border: 2px solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: 0.2s;
}

buttonAdd:hover {
    background-color: rgb(48, 124, 48);
    color: white;
}

buttonDel {
    position: relative;
    left: 2.5px;
    background-color: lightcoral;
    border: 2px solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: 0.2s;
}

buttonDel:hover {
    background-color: darkred;
    white-space: ;
}
