.task-list {
    padding: 8px;
    border: 20px solid rgb(4, 221, 33);
    border-radius: 8px;
}
.center {
    margin: auto;
    margin-top: 10px;
}

#taskList {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

<<<<<<< Updated upstream
#listCard {
    width: 22rem;
}

.form-control:focus, .accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 139, 12, 0.25);
    border-color: rgb(26, 92, 0);
}

.accordion-button:not(.collapsed) {
    color: var(--bs-green);
    background-color: #cbdfd3;
}

=======
.form-control:focus, .accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 139, 12, 0.25);
    border-color: rgb(26, 92, 0);
}

.accordion-button:not(.collapsed) {
    color: var(--bs-green);
    background-color: #cbdfd3;
}

>>>>>>> Stashed changes
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23198754%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
    color: #198754;
}
