.workspace {
    width: 100%;
    overflow-y: auto;
}

.workspace-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    gap: 10px;
}

.workspaceHeader {
    margin: 10px;
    overflow: auto;
    display: flex;
}

.workspaceHeader .form-control {
    max-width: 100%;
}

.OffCFrame {
    background-color: black;
}

.workspace oddCHeader {
    color: rgb(94, 250, 94);
}

@media screen and (max-width:600px) {
    .workspaceHeader{
        width: 100%;
    }
}